@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar:hover {
  width: 10px;
}
.scroll::-webkit-scrollbar {
  width: 6px !important;
}
.scroll::-webkit-scrollbar:hover {
  width: 10px !important;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgb(247, 247, 247);
  border-radius: 10px;
  background-color: #131313;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #262c3d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f364b;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
